/**
    CUSTOM FONT FAMILY

    We don't want to load many fonts on your site so we stay classic.
    You can add your custom fonts here and/or define your own fonts family variables.
*/
$font-base: 'Confoederatio', Helvetica, sans-serif;


/**
    ICONS FONT
*/
@font-face {
    font-family: "Snipcart";
    src: url('fonts/snipcart/Snipcart.woff?94043836') format("woff"),
         url('fonts/snipcart/Snipcart.ttf?94043836') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Placid";
    src: url('fonts/placid/placid.woff') format("woff"),
         url('fonts/placid/placid.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

/**
    FONT HELPERS

    If you use custom fonts and you don't want browser side weighted/italic fonts:
    - remove font-weight (or add font-weight: normal for example)
    - add your font-family. Ex: font-family: 'myFont-bold';
*/
@mixin font-bold {
    font-weight: 700;
}


/**
    FONT SIZES
*/
$fontsize: (
    action: (
        small: 1rem
    ),
    button: (
        base: 1rem
    ),
    error: (
        base: 1rem
    ),
    flash: (
        base: 1rem
    ),
    footer: (
        base: 1rem
    ),
    form: (
        small: 1rem,
        base: 1rem
    ),
    header: (
        small: 1rem,
        large: 1rem
    ),
    product: (
        base: 1rem,
        large: 1rem,
        icon: 1rem
    ),
    quantity-trigger: (
        large: 1rem,
        x-large: 1rem
    ),
    reset: (
        base: 1rem,
        large: 1rem
    ),
    static: (
        small: 1rem,
        base: 1rem
    ),
    step: (
        small: 1rem,
        icon: 1rem
    ),
    table: (
        small: 1rem,
        base: 1rem,
        large: 1rem
    ),
    discount: (
        icon: 1rem
    )
);
