/**
    BUTTON

    [1]. Classic gray button
    [2]. Smaller button for tooltip
    [3]. Next or validate yellow action button
    [4]. Position classes: right, left, full size button
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_btn-size: 36px;

/*------------------------------------*\
    STYLE
\*------------------------------------*/

// [1]
.snip-btn {
  @include font-bold;
  // border-radius: 3px;
  border: 0;
  color: $lightgrey;
  border: 1px solid $lightgrey;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.75;
  outline: 0;
  padding: 1.25rem 1rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  transition: all 250ms ease;

  &:hover {
    transition: none;
    color: $black;
    border-color: $grey;
  }

  @media #{$mq-medium} {
    font-size: fontsize(button, base);
    padding: 1.25rem 1rem;
  }
}

// [2]
.snip-btn--small {
  height: auto;
  line-height: normal;
  padding: 0.417em;
}

// [3]
.snip-btn--highlight {
  // background: palette(button, background--highlight);
  // color: palette(button, color--highlight);

  // &:hover {
  //     background-color: palette(button, background--highlight-hover);
  // }
}

// [4]
.snip-btn--left {
  // float: left;
  margin-right: 1rem;
}

.snip-btn--right {
  // float: right;
  // margin-left: 1rem;
}

.snip-btn--danger {
  background-color: palette(button, background--danger);

  &:hover {
    background-color: palette(button, background--danger-hover);
  }
}

.snip-btn--full {
  display: block;
  margin-top: 1em;
  text-align: center;
}
